:root {
    --main-bgc: #A5165E;
    --footer-bgc: #2D2D2D;
    --tweeter-c: #1DE4FF;
    --image-overlay-c: #69263d6e;
    --form-overlay-c: #0d1c1d42;
    --secondary-c: #3F9F97;
    --alert-danger-c: #FF0000;
    --text-color: #FFFFFF;
}