.form-wrapper {
  background-color: var(--main-bgc);
  color: var(--text-color);

  display: flex;
  justify-content: center;
  flex-direction: column;
  .text-headline {
    padding: 40px;
    h2 {
      font-size: 3.5rem;
      font-weight: 800;
      margin-bottom: 20px;
    }
    p {
      font-size: 1.2rem;
      max-width: 80%;
    }
  }
}

.form {
  &__overlay {
    background-color: var(--form-overlay-c);
    padding: 40px;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 20px;
    line-height: 1.4;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

    > * {
      flex: 1;
    }
  }
  &__input-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
  &__input-label {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 800;
  }
  &__input {
    min-width: 250px;
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    border-radius: 0.7rem;
    outline: none;

    border: 6px var(--secondary-c) solid;
    border-top: 0;
    border-right: 0;
  }
}
