@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Press+Start+2P&display=swap");

body {
  font-family: "Inter", sans-serif;

}

:root {
  font-size: 16px;

  @media (max-width: 768px) {
    font-size: 13px !important;
  }
}

.fancy-title {
  font-size: 6rem;
  font-family: "Press Start 2P", cursive;
    @media (max-width: 768px) {
    font-size: 3.5rem;
  }
  padding: 5rem 0;
}

.normal-headline {
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

.normal-paragraph {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
}

.fancy-typo {
  font-family: "Press Start 2P", cursive;
}

.norm-typo {
  font-family: "Inter", sans-serif;
}
